<div class="wide-map-modal">
  <h6><%= link_to shop.shop.name, shop_path(shop.shop) %></h6>
  <%= link_to qr_codes_scanner_path, class: "small-button" do  %>
    <%= image_tag('icon-camera-white.png') %>
    Scan QR code
  <% end %>
</div>


<%# CSS Components used in this file:
  _map_wide.scss
  _button.scss
%>
