// Define variables for your color scheme


// APP COLORS:
$blue: #039bdb;
$lightblue: #3cb6eb;
$yellow: #e3bb09;
$lightyellow: #f6da5e;
$accent: #ee482f;
$background: #f5f5f5;
$light-gray: #F4F4F4;

// others
$red: #FD1015;
$orange: #cd5326;
$lightorange: #f69673;
$green: #00ae3d;
$gray: #2D3142;
$light-gray: #F4F4F4;
