// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #326ef2;
$lightblue: #6e97f0;
$yellow: #fed51c;
$lightyellow: #f9dd63;
$orange: #cd5326;
$lightorange: #f69673;
$green: #1EDD88;
$gray: #2D3142;
$light-gray: #F4F4F4;

// IDEAS FOR COLORS
$background: #f5f5f5;
$blue: #326ef2;
