body {
  background: #fff;
  height: 100vh;
}

.content {
  height: 87vh;
}

.view-container {
  height: 100%;
  display: flex;
}

/* THIS MAKES THE VERTICAL SCROLL WORK ON WIDE SCREENS */
.scroll-content {
  overflow-y: scroll;
}

.padding {
  padding: 20px;
}

@media (max-width: 992px) {
  body {
    height: auto;
  }

  .content {
    border-radius: 0px;
    margin: 0;
    height: 100%;
  }

  .view-container {
    flex-direction: column-reverse;
  }

  .scroll-content {
    height: 100%;
    margin-bottom: 30px;
  }
}
