body {
  background: #fff;
  height: 100vh;
}

.content {
  height: 89.6vh;
}

.view-container {
  height: 100%;
  display: flex;
}

/* THIS MAKES THE VERTICAL SCROLL WORK ON WIDE SCREENS */
.scroll-content {
  overflow-y: scroll;
}

.padding {
  padding: 20px 10px;
}

@media (max-width: 992px) {
  .content {
    border-radius: 0px;
    margin: 0;
    height: 89.5vh;
  }

  .view-container {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .scroll-content {
    overflow-y: scroll;
    // margin-bottom: 10px;
  }
}

@media(max-width: 768px) {
  .content {
    height: 91vh;
  }
  .padding {
    padding: 20px 0 0 0;
  }
}
