<div class="my-2">
  <% if @shop.profile_photo.present? %>
    <hr class="py-2">
    <div class="owner-profile">
      <%= cl_image_tag @shop.profile_photo.key, class: "avatar-owners " %>
      <div class="owner-message">
        <h5 class="pb-3">Owner's message:</h5>
        <h6>
          <i class="fa-solid fa-quote-left"></i>
          <%= @shop.profile_description %>
          <i class="fa-solid fa-quote-right"></i>
        </h6>
      </div>
    </div>
  <% end %>
</div>
