<div class="container py-3">
  <%= link_to :back, class:"mb-3" do %>
    <div class="mb-3 back-btn">
      <i class="fa fa-solid fa fa-chevron-left"></i>
    </div>
  <% end %>

  <%= render 'shops/shop_info' %> <br>
  <%= render 'shops/shopowner_profile' %>
</div>
