
// CHAIRPERSON DASHBOARD

.chair-dashboard {
  .user-dash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 768px) {
      align-items: flex-start;
      flex-direction: column;
    }
    .user-flex {
      display: flex;
      align-items: flex-start;
    }
  }
  .dash-content {
    display: flex;
    justify-content: space-between;
    .dash-main {
      width: 40%;
    }
    .dash-rallies {
      width: 50%;
      background: #fff;
      border-radius: 10px;
      padding: 20px;
    }
    @media(max-width: 992px) {
      flex-direction: column;
      .dash-main, .dash-rallies {
        margin-bottom: 20px;
        width: 100%;
      }
    }
  }
}


//
.user-dash {
  display: flex;
}

// Adds white background to both dashboards
.user-dash, .user-rallies {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
}
