.dashboard {
  .dash-content {
    display: flex;
    justify-content: space-between;
    .dash-main {
      width: 40%;
    }
    .dash-rallies {
      width: 50%;
    }
    @media(max-width: 992px) {
      flex-direction: column-reverse;
      .dash-main, .dash-rallies {
        width: 100%;
      }
    }
  }
}
