// Specific CSS for your home-page
.landing {
  color: #fff;
  height: 100%;
  // background-image: url("https://images.unsplash.com/photo-1601972599748-19fe5a7e756f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1713&q=80");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  .landing-content {
    padding: 30px;
    .wide-logo {
      font-size: 50px;
    }
  }
}

// about section
.about {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  li {
    width: 33%;
    padding: 20px;
    margin: 5px;
  }

  @media(max-width: 576px) {
    flex-direction: column;
    align-items: center;
    li {
      width: 100%;
      padding: 10px 0px;
    }
  }
}


// middle section
.section {
  margin: 30px 0px;
}

.small-container {
  margin: 0px auto;
  max-width: 800px;
  @media(max-width: 992px) {
    width: 90%;
  }
  .row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    .section-content {
      padding: 30px;
      width: 50%;
      h3 {
        color: $blue;
      }
    }
    .img-container {
      height: 300px;
      width: 50%;
      img {
        object-fit: contain;
      }
    }
    @media(max-width: 576px) {
      flex-direction: column;
      .section-content  {
        width: 100%;
        padding: 10px 0px;
      }
      .img-container {
        width: 80%;
      }
    }
  }
  .reverse {
    @media(max-width: 576px) {
      flex-direction: column-reverse;
    }
  }


}


.background {
  background: $blue;
}

.bg-white {
  background: white;
}
