  <!-- I created this file as a separate view to test QR Scanning Feature
  Feb 24 2023. Jay
  -->
<div data-controller="qr-scanner">
  <main class="cameraview">
    <section>
      <h1>Scan the QR Code to get your Stamp!</h1>
      <h4> You can use your phone's camera app too!</h4>
      <div class="centeredcamerabuttons">
        <button data-action="click->qr-scanner#startcamera" class="camerabutton">Turn On</button>
        <button data-action="click->qr-scanner#offcamera" class="camerabutton">Turn Off</button>
      </div>
      <div class="videofeed">
        <video id="video" width="400" height="300" style="border: 1px solid gray"></video>
      </div>
      <br>
      <br>
      <br>
      <!-- Please remove the items below after final design on the scan camera view -->
      <div class="testingdisclaimer">
        <div id="sourceSelectPanel" style="display:none">
          <label for="sourceSelect">Change video source:</label>
          <select id="sourceSelect" style="max-width:400px">
          </select>
        </div>
        <label> for Testing Purposes, THE URL WILL BE SHOWN BELOW</label>
        <pre><code id="result"></code></pre>
        <p>QR Scanner based on ZXing Library Licensed under the <a target="_blank"
                href="https://github.com/zxing-js/library#license" title="MIT">MIT</a></p>
        <p>You can also scan on your phone's camera app 😁</p>
      </div>
    </section>
  </main>
</div>
