  <!-- I created this file as a separate view to test QR Scanning Feature
  Feb 24 2023. Jay
  -->
<div class="camera-view" data-controller="qr-scanner">
  <div class="videofeed">
    <video id="video" class="camera"></video>
  </div>
  <div class="camera-actions">
    <p>Scan the QR Code to get your Stamp</p>
    <p class="text-small"> You can also use your phone's camera app</p>
    <div class="buttons">
      <%= link_to :back do %>
        <button class="camera-btn button-map">
          <i class="fa fa-solid fa fa-map"></i>
        </button>
      <% end %>
      <button data-action="click->qr-scanner#startcamera" class="camera-btn button-on">
        <%= image_tag("icon-camera.png") %>
      </button>
      <button data-action="click->qr-scanner#offcamera" class="camera-btn button-off">
        <%= image_tag("icon-nocamera.png") %>
      </button>
    </div>
    <!-- Jeremy: this code could be included for the Javascript controller to work -->
    <code id="result"></code>
    <!-- the styling can be changed later. The Javascript controller is asking for the choice to select cameras,
    Front facing and Rear Facing cameras -->
    <%# <div>
      <div id="sourceSelectPanel" style="display:none">
        <label for="sourceSelect">Change video source:</label>
        <select id="sourceSelect" style="max-width:400px">
        </select>
      </div> %>
    <!-- The code below is where the result of the scan shows up but we do not need to show it on the sceen anymore -->
    <%# <label> for Testing Purposes, THE URL WILL BE SHOWN BELOW</label> %>
    <!-- Please remove the items below after final design on the scan camera view -->
    <%# <p>QR Scanner based on ZXing Library Licensed under the <a target="_blank" %>
    <%# href="https://github.com/zxing-js/library#license" title="MIT">MIT</a></p> %>
    <%# </div> %>
  </div>
</div>
