<div class="navbar">
  <div class="logo">
    <h5 class="logo">SAMPOMPOM</h5>
  </div>

  <ul class="nav">
    <li><%= link_to "Dashboard", root_path %></li>
    <li><%= link_to "Shops", shops_path %></li>
    <li><%= link_to "Rallies", "#" %></li>
  </ul>

  <div class="d-flex align-items-center">
    <%= render 'shared/offcanvas'%>
    <div class="avatar ms-5"></div>
  </div>

</div>
