<div class="container">
  <h1>Welcome back, M</h1>
  <p>Chairman of Shioya Street</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Debitis fugit ipsa tempore natus, placeat quae minus nihil sunt cum,
  animi culpa corporis adipisci
  quidem similique quam laudantium voluptate alias? In?</p>

  <%# Stadisticst for chairman %>
  <div class="stadistics"></div>

  <%# Stamp rallies list %>
  <div class="stamprallies"></div>

  <%# Latest added shops %>
  <div class="d-flex align-items-center">
    <h2>Your latest added shops</h2>
    <%= link_to "See all shops", shops_path %>
  </div>
  <div class="shops-container">
    <% @shops.each do |shop| %>
      <div class="shop-card">
        <h4><%= shop.name %></h4>
      </div>
    <% end %>
  </div>

</div>
