<div class="container">
  <h1>Welcome back, M</h1>
  <p>Chairman of Shioya Street</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Debitis fugit ipsa tempore natus, placeat quae minus nihil sunt cum,
  animi culpa corporis adipisci
  quidem similique quam laudantium voluptate alias? In?</p>

  <%# Stadisticst for chairman %>
  <div class="stadistics"></div>

  <%# Stamp rallies list %>
  <div class="stamprallies"></div>

  <%# Latest added shops %>
  <div class="div">
    <div class="d-flex align-items-center">
      <h3>Last added shops</h3>
      <%= link_to "See all shops", "#"%>
    </div>
    <div class="grid">
      <div class="shop">
        <p>Shop name</p>
        <p>Shop address</p>
      </div>
      <div class="shop">
        <p>Shop name</p>
        <p>Shop address</p>
      </div>
      <div class="shop">
        <p>Shop name</p>
        <p>Shop address</p>
      </div>
      <div class="shop">
        <p>Shop name</p>
        <p>Shop address</p>
      </div>
    </div>
  </div>

</div>
