<div class="landing py-5">

  <div class="container">

    <div class="landing-content">
      <h1>SAMPOMPOM</h1>
      <p>Organize your streets, create events and gain more visitors</p>
      <%= link_to "Save your street", new_user_session_path, class: "btn btn-light" %>
    </div>

  </div>

</div>

<div class="section small-container my-5">
  <div class="section-content">
    <h5>Create stamp rallies...</h5>
  </div>
  <div class="img-container">
  </div>
</div>

<div class="section small-container my-5">
  <div class="img-container"></div>
  <div class="section-content">
    <h5>... or join them!</h5>
  </div>
</div>

<div class="section py-5">
  <div class="container">
    <h5>Other section</h5>
    <p>Some content</p>
    <p>Some content</p>
  </div>
</div>


<div class="footer">
  <div class="container">
    <h3>SAMPOMPOM</h3>
    <p>Footer</p>
    <p>Footer</p>
  </div>
</div>
