<%#====== for new user journey ========%>
<!-- Button trigger modal -->

<div data-bs-toggle="modal" data-bs-target="#joinTheRally">
  <%# <%= render "participants/new", stamp_rally: @stamp_rally %> %>
  <p>Join this rally</p>
</div>

<!-- Modal -->
<div class="modal fade" id="joinTheRally" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Stamp Card gets ready now!!!</h2>
        <%= render "stamp_cards/new", stamp_rally: @stamp_rally, participant: @participant %>
      </div>
    </div>
  </div>
</div>

<%#====== for new user journey ========%>
