<%#====== for new user journey ========%>
<!-- Button trigger modal -->

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#joinTheRally">
  Join this rally
</button>

<!-- Modal -->
<div class="modal fade" id="joinTheRally" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="body-content">
          <h5 class="mb-3">Confirm?</h5>
          <p>You will become a participant of this stamp rally.
          Collect the <%= pluralize(@stamp_rally.shop_participants.count, "stamp card") %> to get a secret reward</p>
        </div>
        <%= render "stamp_cards/new", stamp_rally: @stamp_rally, participant: @participant %>
      </div>
    </div>
  </div>
</div>

<%#====== for new user journey ========%>
