<!-- Modal -->
<div class="modal fade" id="exampleModal<%= shop_participant.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">QR CODE was Generated!!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "stamp_rallies/qrcode", stamp_rally: @stamp_rally, shop_participant: shop_participant %>
      </div>
    </div>
  </div>
</div>
