
<% if current_user.status == "chairperson" %>
  <div class="container text-center">
    <h6><%= @stamp_rally.name %></h6>
    <h3 class="mb-2 text-primary"><%= shop_participant.shop.name %></h3>
    <div class="qr-code my-1">
      <%= @qr_hash[shop_participant].html_safe %>
    </div>
    <%= link_to "Generate PDF", print_stamp_rally_shop_participant_path(@stamp_rally, shop_participant, format: :pdf), class: "btn", target: "_blank"  %>
  </div>
<% end %>
