
<div class="container py-5">
  <%= link_to dashboard_path do %>
    <p class="mb-3"><i class="fa fa-solid fa fa-chevron-left me-3"></i>Go back to dashboard</p>
  <% end %>
  <h1 class="my-3">Organize a new stamp rally</h1>
  <%= render'rally_form', stamp_rally: @stamp_rally %>
</div>
