.banner-date {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.1px;
  background: rgba(255, 255, 255, 0.363);
  display: inline;
  padding: 3px 15px;
  border-radius: 50px;
}
