.button {
  background: $blue;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  transition: ease-out 0.6s;
  font-family: $headers-font;

  &:hover {
    background: darken($blue, 5%)
  }

  img {
    width: 20px;
    margin-right: 10px;
  }

}

.date-button {
  background: white;
  display: inline;
  margin: 16px 32px;
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0 0 8px black;
}


// Used in map view
.small-button {
  background: $blue;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  transition: ease-out 0.6s;
  font-family: $headers-font;
  &:hover {
    background: darken($blue, 5%);
    color: #fff;
  }
  img {
    width: 18px;
    margin-right: 10px;
  }
}
