
// STYLES FOR STAMP RALLIES CARDS DISPLAYED IN THE DASHBOARD

// 1. Rallyes container
.rallies-container {
  margin-top: 20px;
}

// 2. Individual stamp rally card
.rally-card {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 12px;
  background: #fff;
  transition: ease-out 0.6s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    color: #000;
    background: rgb(238, 238, 238);
  }
  .rally-title {
    font-weight: bold;
  }
  .tag {
    background: orange;
  }
}

.ongoing {
  background: $blue;
  &:hover {
    background: darken($blue, 10%)
  }
  .tag {
    background: blue;
  }
}

.finished {
  background: rgb(191, 191, 191);
  &:hover {
    background: rgb(176, 176, 176);
  }

  .tag {
    background: #2d2d2d;
  }
}
