// STYLES FOR SHOPS DISPLAYED IN THE DASHBOARD

// 1. Container
.shops-list {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
}

// 2. Individual shop card
.shop-card-small {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid $background;
  margin-bottom: 0px;
  transition: ease-out 0.6s;

  &:hover {
    background: $background;
    color: #000;
  }

  .img-container {
    width: 40px;
    height: 40px;
    background: $blue;
    border-radius: 3px;
    margin-right: 10px;
  }
}


// STYLES FOR SHOPS DISPLAYED IN INDEX PAGE

// 1. Container
.shops-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 100vh;

  @media(max-width: 992px) {
    height: auto;
    margin-bottom: 10px;
  }

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

// 2. Individual shop card
.shop-card {
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  background: #fff;

  img {
    max-height: 130px;
    border-radius: 5px;
  }
}
