// STYLES FOR SHOPS DISPLAYED IN THE DASHBOARD

// 1. Container
.shops-list {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
}

// 2. Individual shop card
.shop-card-small {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid $background;
  margin-bottom: 0px;
  transition: ease-out 0.6s;

  &:hover {
    background: $background;
    color: #000;
  }

  .img-container {
    width: 40px;
    height: 40px;
    background: $blue;
    border-radius: 3px;
    margin-right: 10px;
  }
}


// STYLES FOR SHOPS DISPLAYED IN INDEX PAGE

// Top section with the street info and address
.street-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media(max-width: 576px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

// 1. Container
.shops-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  // height: 100vh;
  @media(max-width: 1200px) {
    height: auto;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
  }
  @media(max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

// 2. Individual shop card
.shop-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  background: #fff;
  position: relative;
  transition: 0.2s ease-out;
  .shop-content {
    padding: 20px;
  }
  img {
    max-height: 130px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  &:hover {
    color: #000;
    box-shadow: 0px 4px 40px rgba(0,0,0,0.2);
  }
}


// STYLES FOR SHOPS DISPLAYED IN STAMP RALLY SHOW

// 1. Container
.shops-container-rally {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  // height: 100vh;
  @media(max-width: 1200px) {
    height: auto;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media(max-width: 992px) {
    grid-template-columns: 1fr 1fr;

  }
  @media(max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

// 2. Individual shop card
.shop-card-rally {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  background: #fff;
  position: relative;
  transition: 0.2s ease-out;
  .shop-content {
    padding: 20px;
  }
  img {
    max-height: 200px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  &:hover {
    cursor: pointer;
    color: #000;
    box-shadow: 0px 4px 40px rgba(0,0,0,0.2);
  }
}
