// STYLES FOR SHOPS DISPLAYED IN THE DASHBOARD

// 1. Container
.shops-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  @media(max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

// 2. Individual shop card
.shop-card-small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  .img-container {
    width: 60px;
    height: 60px;
    background: blue;
    border-radius: 5px;
    margin-right: 10px;
  }
}


// STYLES FOR SHOPS DISPLAYED IN INDEX PAGE

// 1. Container
.shops-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 100vh;
  margin-bottom: 130px;
  @media(max-width: 992px) {
    height: auto;
    margin-bottom: 10px;
  }
  @media(max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

// 2. Individual shop card
.shop-card {
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;

  img {
    max-height: 130px;
    border-radius: 5px;
  }
}
