.map {
  height: 100%;
  width: 900px;
  position: fixed;
  @media(max-width: 992px) {
    padding-top: 300px;
    height: 300px;
    width: 100%;
  }
  @media(max-width: 556px) {
    padding-top: 200px;
    height: 200px;
  }

  // Styles for the popup
  .mapboxgl-popup {
    max-width: 400px;
    border-radius: 20px;
    top: -30px;
  }

  .mapboxgl-popup-tip {
    display: none;
  }
}

.mapboxgl-popup-content {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    font-size: 22px;
  }
  @media(max-width: 576px) {
    h4 {
      font-size: 16px;
    }
  }
}



.mapboxgl-popup-close-button {
  display: none;
}

.jpic {
  font-size: 40px;
  color: #000;
  margin-right: 10px;
}



// RALLY MAP
.rally-map {
  height: 89.5vh;
  width: 900px;
  @media(max-width: 992px) {
    // height: 350px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}
