.navbar {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2px solid black;

  .logo {
    font-weight: bold;
    margin-bottom: 0;
  }

  .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: grey;
  }

  .nav li a {
    display: inline;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    &:hover {
      background:rgb(193, 193, 193);
      cursor: pointer;
    }
  }

}

.menu {
  font-size: 30px;
  display: none;
  text-decoration: none;
  color: black;
}

@media(max-width: 768px) {
  .menu {
    display: block;
  }

  .nav {
    display: none;
  }
}
