.navbar {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2px solid black;
  background: #fff;
  .logo-image {
    width: 110px;
  }

  @media(max-width: 768px) {
    padding: 20px;
    .logo-image {
      width: 80px;
    }
  }

  .nav {
    @media(max-width: 768px) {
      display: none;
    }

    li a {
      color: rgb(80, 80, 80);
      display: inline;
      font-size: 18px;
      padding: 10px;
      margin: 0px 10px;

      &:hover {
        color: #000;
        cursor: pointer;
        border-bottom: 0.2px solid black;
      }
    }
  }
}

.menu {
  font-size: 30px;
  display: none;
  text-decoration: none;
  color: black;
}

@media(max-width: 768px) {
  .menu {
    display: block;
  }

  .navbar-avatar {
    display: none;
  }
}

.navbar-collapse {
  flex-grow: 0;
}
