.offcanvas {
  max-width: 95%;
}

.offcanvas-body {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .offcanvas-nav {
    margin-top: 20px;
    padding: 0;
    li a {
      display: block;
      padding: 10px 30px;
      font-size: 16px;
      &:hover {
        color: black;
        background: rgb(239, 239, 239);
        cursor: pointer;
      }
    }
  }

  .actions {
    li a {
      font-size: 16px;
      display: block;
      padding: 10px 30px;
      &:hover {
        background: rgb(239, 239, 239);
        cursor: pointer;
        color: black;
      }
    }

    i {
      font-size: 20px;
      margin-right: 10px;
    }
  }
}
