.offcanvas {
  max-width: 95%;
}

.offcanvas-header {
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 10px 40px 10px;
  background: $lightblue;
  color: #fff;
  .offcanvas-header-content {
    margin-top: 40px;
  }
}

.offcanvas-body {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .offcanvas-nav {
    margin-top: 20px;
    padding: 0;
    li a {
      display: block;
      padding: 10px 30px;
      font-size: 18px;
      transition: all .2s ease-in-out;
      &:hover {
        color: #fff;
        background: $lightblue;
        cursor: pointer;
      }
    }
  }

  .actions {
    li a {
      font-size: 18px;
      display: block;
      padding: 10px 30px;
      &:hover {
        background: rgb(239, 239, 239);
        cursor: pointer;
        color: black;
      }
    }

    i {
      font-size: 20px;
      margin-right: 10px;
    }
  }
}
