.reward-card {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all .2s ease-in-out;
  background-color: $lightyellow;
  &:hover {
    color: #000;
    transform: scale(1.009);
  }
  &__body {
    width: 100%;
    &__header {
      &.text-red {
        color: $red;
      }
    }

    &__mid {
      display: flex;
      justify-content: space-between;
      .reward {
        background: rgba(255, 255, 255, 0.362);
        width: 30%;
        img {
          width: 60px;
          height: 60px;
        }
        @media(max-width: 768px) {
          flex-grow: 1;
        }
      }
      .jpic {
        font-size: 25px;
      }
      &__shops {
        width: 65%;
        padding: 15px;
        background: rgba(255, 255, 255, 0.362);
        border-radius: 8px;
        margin-left: 10px;
        @media(max-width: 768px) {
          margin-left: 0px;
        }
        .shops {
          display: flex;
          flex-wrap: wrap;
        }
      }

      @media(max-width: 768px) {
        flex-direction: column;
        .reward, &__shops {
          width: 100%;
        }
        &__shops {
          margin-top: 10px;
        }
      }
    }

    &__bottom {
      &__left {
        & .under-line {
          border-bottom: 0.3px solid rgb(0, 0, 0);
        }
      }
    }
  }

}

// small reward card that appears at the top
// of stamp rallies and stamp cards view
.reward {
  width: 35%;
  padding: 10px;
  border-radius: 8px;
  background: lighten($lightyellow, 5%);
  display: flex;
  align-items: center;
  img {
    width: 100px;
    height: 100px;
  }
  @media(max-width: 768px) {
    .reward-content {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @media(max-width: 360px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    img {
      width: 80px;
      margin-right: 10px;
    }
  }

  .small-text {
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    background:rgba(255, 255, 255, 0.431);
  }
}

.reward-modal {
  width: 100%;
}

// .btn-orange-in-modal {
//   border-top-left-radius: 0px;
//   border-top-right-radius: 0px;
//   border-bottom-left-radius: 10px;
//   border-bottom-right-radius: 10px;
//   font-size: 18px;
//   font-family: "Lexend", sans-serif;
//   color: white;
//   background-color: $orange;
// }

// .bg-yellow-in-modal {
//   background: lighten($lightyellow, 5%);
// }
