.btn-yellow {
  color: white;
  background-color: $yellow;
  padding: 18px;
}

.stamp-cards-container {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  @media(max-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media(max-width: 576px) {
    grid-template-columns: 1fr 1fr;
  }
}

.stamp-card {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 10px;
  border: dotted 3px rgb(193, 193, 193);
  @media(max-width: 350px) {
    width: 110px;
    height: 110px;
  }

  .stamp-card-content {
    text-align: center;
  }

  .jpic {
    color: grey;
    font-size: 50px;
    margin: 0px;
  }
  .small-text {
    font-size: 14px;
    color: grey;
    margin: 0px;
  }
}

// TODO:
// - Create styles for stamp card when status == "stamped"
