<div class="wide-map-modal">
  <h6><%= link_to shop_participant.shop.name, shop_path(shop_participant.shop) %></h6>
  <%= link_to "#", class: "small-button" do  %>
    <%= image_tag('icon-camera-small.png') %>
    Scan QR code
  <% end %>
</div>


<%# CSS Components used in this file:
  _map_wide.scss
  _button.scss
%>
