<!DOCTYPE html>
<html style="padding-top: 50px; height: 100%; width: 97%; margin:0 auto; border: #326ef2 solid 10px;">
  <head>
    <meta charset='utf-8' />
    <title>Page title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
      <%= yield %>
  </body>
</html>
