<!DOCTYPE html>
<html class="pdf">
  <head>
    <meta charset='utf-8' />
    <title>Page title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# <%= wicked_pdf_stylesheet_link_tag "application", media: "all" %> %>
  </head>
  <body>
      <%= yield %>
  </body>
</html>
